U1/U1_T2_DTD_XSD/eje1.dtd

<!ELEMENT relacion (persona)*>
<!ELEMENT persona (nombre, (email)+, (parentesco)?)*>
    <!ATTLIST persona sexo NMTOKEN #IMPLIED>
    <!ATTLIST persona carnet ID #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT parentesco (#PCDATA)>
    <!ATTLIST parentesco tipo CDATA #REQUIRED>